p.byweasel{

padding-left: 915px;
font-family: Arial;
font-size: 30px;

}



h1{

	font-size: 80px;
	padding-left:800px;
	font-family: Arial;

}

img.bon_toutou{

	padding-left: 850px;
}

p.fleche{
	padding-left: 960px;
}

img.logo_instagram{

	padding-left: 890px;
	padding-top:10px;
}

a.paulcdm{
	color: #0077FE;
	text-decoration: underline;
	font-family: Arial;
	font-size:25px;
	margin-top:10px;
	
}

a.paulcdm:hover{

	color: #00ADFE;
}

